<footer>
  <section>
    <div class="container container-fluid">
      <div class="row pt-5 text-center">
        <div class="col-4">
          <div class="footer-logo">
            <a routerlink="/">
              <img src="/logo.png" alt="ContaViBe Logo" />
            </a>
          </div>
        </div>
        <div class="col-4">
          <div class="">
            <div>
              <h6 class="footer-col-title">SC CONTAVIBE SRL</h6>
              CIF: 50854735
              <br />
              Reg. com.: J2024039743008
              <br />
              Strada Cerna, nr. 15, Iași
              <br />
              WhatsApp:
              <a href="tel:0753694337" title="0753694337">+40 753.69.43.37</a>
              <br />
              <a
                href="mailto:sccontavibe&#64;gmail.com"
                title="sccontavibe&#64;gmail.com"
                >sccontavibe&#64;gmail.com</a
              >
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="logo-ceccar">
            <img src="logo-car.png" alt="ContaVibe - CECCAR Logo" />
          </div>
        </div>
      </div>
      <div>
        <hr />
      </div>
      <div class="row py-4">
        <div class="col-12">
          <div class="copyright text-center">
            &copy; ContaVibe <span class="ft-year">{{ currentYear }}</span
            >.
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
