<h2 class="mb-4">Despre Noi</h2>

<p>Te invit să ne cunoaștem,</p>

<p>
  Contavibe, o firmă născută din pasiunea pentru contabilitate, a fost
  înființată cu scopul de a veni în sprijinul antreprenorilor cu servicii
  externalizate de contabilitate, consultanță fiscală, salarizare și resurse
  umane. Scopul Contavibe este de a stabili relații de încredere și de lungă
  durată cu clienții săi, oferind servicii de calitate. Ghidată de principii și
  valori, Contavibe devine partenerul tău de încredere, atunci când ne raportăm
  la activitatea financiar-contabilă a afacerii tale.
</p>

<br />

<p>Bîrgăoanu Denisa-Andreia</p>
<p>Expert contabil, membru CECCAR</p>

<p>
  Cu o experiență în domeniul financiar-contabil de peste 9 ani, în societăți de
  expertiză contabilă. Cu pasiune pentru cifre și cu dorința de a fi mereu la
  curent cu modificările legislative în ceea ce privește sfera
  financiar-contabilă, am hotărât acum aproximativ 12 ani să studiez și să
  aprofundez acest domeniu vast, care presupune multă muncă, implicare,
  determinare, seriozitate și nu în ultimul rând profesionalism. Pe parcursul
  anilor lucrați în firme de expertiză contabilă, m-am implicat activ în toate
  proiectele la care am avut acces, reușind astfel să mă perfecționez și să
  capăt abilitățile necesare pentru a putea activa în domeniul
  financiar-contabil pe cont propriu.Cu o experiență în domeniul
  financiar-contabil de peste 9 ani, în societăți de expertiză contabilă. Cu
  pasiune pentru cifre și cu dorința de a fi mereu la curent cu modificările
  legislative în ceea ce privește sfera financiar-contabilă, am hotărât acum
  aproximativ 12 ani să studiez și să aprofundez acest domeniu vast, care
  presupune multă muncă, implicare, determinare, seriozitate și nu în ultimul
  rând profesionalism. Pe parcursul anilor lucrați în firme de expertiză
  contabilă, m-am implicat activ în toate proiectele la care am avut acces,
  reușind astfel să mă perfecționez și să capăt abilitățile necesare pentru a
  putea activa în domeniul financiar-contabil pe cont propriu.
</p>
