<h2 class="mb-5">Despre Noi</h2>

<h5><strong>Servicii de contabilitate</strong></h5>
<br />
<p>
  Externalizează serviciile contabile pentru afacerea ta și beneficiază în
  schimb de mai mult timp pentru dezvoltarea afacerii tale.
</p>

<ul class="services-list">
  <li>Întocmire evidență contabilă completă</li>
  <li>
    Întocmire și depunere declarații și raportări specifice în relația cu Anaf
  </li>
  <li>Reprezentare în relația cu Anaf</li>
  <li>Situație informativă lunară</li>
  <li>Consultanță contabilă</li>
  <li>Asistență în alegerea softului de gestiune</li>
</ul>

<h5 class="mb-2"><strong>Servicii de salarizare și resurse umane</strong></h5>
<ul class="services-list">
  <li>Întocmirea contractelor individuale de muncă</li>
  <li>
    Operarea modificărilor survenite la contractele individuale de muncă prin
    întocmirea actelor adiționale
  </li>
  <li>
    Întocmirea documentelor necesare în vederea încetării, respectiv suspendării
    contractelor individuale de muncă
  </li>
  <li>Întocmirea adeverințelor de vechime in muncă</li>
  <li>
    Transmiterea în Registrul General de Evidență a Salariaților a contractelor
    individuale de muncă, precum și a modificărilor survenite
  </li>
  <li>Asistență în caz de control</li>
</ul>

<h5 class="mb-2">Salarizare</h5>
<ul class="services-list">
  <li>Calcularea salariilor cuvenite în baza pontajelor transmise de client</li>
  <li>Calcularea concediilor de odihnă și a concediilor medicale</li>
  <li>Întocmirea statelor de plată</li>
  <li>
    Comunicarea sumelor de plată aferente impozitelor și contribuțiilor
    salariale datorate
  </li>
  <li>
    Întocmirea și depunerea declarației privind obligațiile de plată a
    contribuțiilor sociale, impozitului pe venit și evidența nominală a
    persoanelor asigurate
  </li>
</ul>

<h5 class="mb-2">Consultanță financiar-contabilă</h5>
<p class="mb-2">
  Pe toata perioada colaborării beneficiezi de consultanță financiar-contabilă
  inclusă în abonamentul lunar de contabilitate.
</p>
<ul class="services-list">
  <li>
    Asistență pe parcursul desfășurării controalelor de către instituțiile
    abilitate ale statului
  </li>
  <li>
    Informare cu privire la modificările legislative și cu impact asupra
    activității desfășurate de client
  </li>
  <li>
    Asistență în întocmirea documentației necesare pentru obținerea de
    credite/leasing
  </li>
  <li>
    Asistență în alegerea variantei optime de impozitare, in funcție de
    activitatea desfășurată: plătitor de tva/neplătitor de tva/impozit pe
    venit/impozit pe profit/normă de venit/sistem real
  </li>
  <li>Asistență în alegerea formei de organizare: SRL/PFA</li>
  <li>Consultanță privind legislația financiar contabilă și fiscală.</li>
</ul>
