<section class="section-top text-center mb-5">
  <h1 class="company-title">Contavibe</h1>
  <h4>Expertul tău în soluții contabile și fiscale</h4>
  <div>
    <p class="d-inline-block">
      <em
        >Leaderii de afaceri de succes proiectează o viziune, o articulează, o
        posedă cu pasiune și o duc spre completare fără oprire.
      </em>
      <span class="text-end d-block fst-italic">(Jack Welch)</span>
    </p>
  </div>
</section>
<section class="my-3">
  <p class="mb-5">
    De ce să alegi Contavibe?
    <br />
    Funcționarea societății CONTAVIBE are la bază un set de principii și valori
    pe care le aplică în relația cu beneficiarii serviciilor sale.
  </p>
  <div class="row">
    <div class="col col-4">
      <h5 class="text-center fw-semibold">Responsabilitate</h5>
      <p>
        Punem accent pe calitatea serviciilor oferite și nu pe cantitate.
        Respectăm prevederile și termenele impuse de legislația în domeniu.
      </p>
    </div>
    <div class="col col-4">
      <h5 class="text-center fw-semibold">Încredere</h5>
      <p>
        Încrederea este un aspect esențial . într-o colaborare de lungă durată.
        Scopul nostru este să furnizăm o situație contabilă corectă și completă.
      </p>
    </div>
    <div class="col col-4">
      <h5 class="text-center fw-semibold">Informare</h5>
      <p>
        Acordăm o atenție deosebită schimbărilor legislative pentru a oferi
        suport constant partenerilor noștri.
      </p>
    </div>
  </div>
</section>
